  * {
    box-sizing: border-box;

    color: white;
    background: black;

    /* For Development to see how things look */
    /* border: 1px solid red; */
  }

  .presenter-layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2.5%;
    padding-top: 2%;
  }

  .inner-presenter-layout
  {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  .presenter-header {
    width: 100%;
    text-align: left;

    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-end;

    border-bottom: 1px solid var(--accent);
  }

  .presenter-title {
    margin-top: 0%;
    margin-bottom: 0%;
    color: var(--text);
  }

  .room-number {
    margin-top: 0.35%;
    margin-bottom: 0.85%;
    color: var(--primary-color);
  }

  .presenter-content {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
  }
  
  .left-column {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--accent);
  }
  
  .top-box {
    padding: 1.25em;
    text-align: center;
    flex: 1;
    border-bottom: 1px solid var(--accent);
  }
  
  .bottom-box {
    padding: 1.25em;
    text-align: center;
    flex: 1;
  }
  
  .right-column {
    padding: 1.25em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }