.top-box-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  height: 100%;
  box-sizing: border-box;
}

.join-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 2dvh;
  flex: 0 1 auto;
}

.qr-code {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  background-color: var(--primary-color);
  border-radius: 0.15em;
  max-height: 55dvh;
}

.qr-placeholder {
  width: 275px;
  height: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid var(--text);
  font-size: 0.8rem;
  line-height: 1.2;
  padding: 0.5em;
}

.join-now {
  font-size: 1.45rem !important;
  text-align: center;
  line-height: 1.2;
  color: var(--text);
  font-weight: 500;
  margin-bottom: 1.5em;
  flex: 0 0 auto;
}

#join-code {
  color: var(--primary-color)
}

.link-box {
  color: var(--primary-color);
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  word-break: break-all;
  flex: 0 0 auto;
  padding: 0 1em;
}

@media (max-height: 700px) {
  .join-now {
    font-size: 2.2rem;
    margin-bottom: 1em;
  }
  
  .link-box {
    font-size: 1rem;
  }
}
