.alerter {
    font-size: 14px;
    box-sizing: border-box;
    position: fixed;
    z-index: 999999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-shrink: 0;
    background-color: var(--secondary-color);

}

.alert {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    color: var(--primary-color);
}

.alert-btn {
    width: 80%;
    padding: 5px 7.5px;
    color: var(--text);
    background-color: var(--background);
    border: solid 1px;
    border-color: var(--secondary-color);
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.alert-btn:hover {
    background-color: var(--secondary-color);
}