.waiting-line-text-container{
    text-align: left;
    width: 80vw;
    margin: 0 0 20vh 10vw;
    max-width: 80%;
}

.waiting-line-text-header{
    font-size: 2.25em;
    margin: 0;
    font-weight: 400;
    text-align: left;
}

.waiting-line-subtitle{
    margin: 5vh 0 0 0;
    font-weight: 400;
}

.next-in-line{
    color: var(--accent);
}

@media (max-width: 768px) {
    .waiting-line-text-container {
        margin: 0 0 20vh 0;
        max-width: 100%;
    }
  }