.press-to-speak-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.press-to-speak-button {
  width: 80vw;  
  height: 80vw; 
  /* background: var(--text);  */
  background: linear-gradient(to bottom, var(--text), #8C8484);
  border-radius: 50%; 
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  touch-action: manipulation; /* Disables double-tap zoom */
  -webkit-tap-highlight-color: transparent; /* Removes tap highlight */
  user-select: none;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none; 
  -ms-user-select: none;
}

@media (min-width: 768px) {
    .press-to-speak-button {
      width: 60vh; 
      height: 60vh; 
    }
  }

.press-to-speak-button.speaking {
    background: linear-gradient(to bottom, var(--secondary-color), #2B0505);
  transform: scale(0.85); 
}

.press-to-speak-button img {
    width: 50%;   
    height: 50%; 
    object-fit: contain; 
  }

h1 {
  font-size: 1.6em;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}
