#root {
  width: 100%;
  min-height: 100dvh;
  margin: auto;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: var(--text);
  background-color: var(--background);
  min-height: 100dvh; 
  width: 100dvw;
}

.styled-button{
  display: flex;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text);
  background-color: var(--background);
  border-width: 1px;
  border-color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

h2, h3, h4, p, .text-input, div{
  font-family: var(--font-family);
}

h1 {
  font-family: var(--font-family-2);
  color: white;
}

/* This is css for the participant and welcome page. it seems like they overlap a little */

#participant-layout{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  width: 100dvw;
}

#participant-header{
  align-self: flex-start; 
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

#participant-center{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}


#participant-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}

#participant-title{
  font-weight: 400;
}

#participant-username{
  color: var(--text);
  font-weight: 600;
  margin-top: 0.25em;
}

#participant-room{
  color: var(--text);
  font-weight: 400;
  background-color: var(--secondary-color);
  padding-top: 4px;
  font-size: medium;
  border-radius: 5px;
}

/* end of participant and welcome page css */
