#root {
  font-family: var(--font-family);
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: var(--text);
  background-color: var(--background);
  min-height: 100vh; 
  width: 100vw;
}
