:root {
  /* global variables */
  --text: #F2E5E5;
  --background: #080303;
  --primary-color: #E68888;
  --secondary-color: #911010;
  --accent: #FB2323;
  --font-family: 'Roboto', monospace;
  --font-family-2: "Oswald", sans-serif;
  /* global variables */
}


