.text-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 65dvw;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--text);
    max-height: 50dvh;
    margin: 0 0 10dvh 0;
  }

  #text-submission-header{
    color: var(--primary-color);
    margin: 10px 0 5px 0;
  }
  
  .text-input {
    color: var(--primary-color);
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s ease;
    resize: vertical;  
    min-height: 10dvh;   
  }
  
  .text-input:focus {
    border-color: var(--secondary-color);
  }
  
  .submit-btn {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: var(--text);
    background-color: var(--background);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: var(--secondary-color);
  }
  